@import url('https://fonts.googleapis.com/css?Muli&display=swap');

* {
    /* padding and border wont effect width */
    box-sizing: border-box;
    --backgroundColor: #2f3543;
    --textColor: #fff;
    --secondaryColor: #828384;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}


.container {
    background-color: var(--backgroundColor);
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);

}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: var(--secondaryColor);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.circle:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 0 5px 5px #ecff15;
}


.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;

}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
    transition-property: transform, rotate;
    transition-duration: 0.4s;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;

}

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.4s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;

}

nav ul {
    list-style-type: none;
    padding-left: 30px;

}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 80px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;

}

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.navLink {
    color: #fff;
    transition: all 0.4s ease;
}

.navLink:hover {
    color: var(--secondaryColor);
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--secondaryColor);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
    color: var(--textColor)
}

.content h1 {
    margin: 0;
}

.content small {
    font-style: italic;

}

.content p {
    line-height: 1.5;
}